*.lck
*.swp
*-backups
fp-info-cache
sym-lib-table
fp-lib-table
*#
/Hardware/pcb-stm32wl/_autosave-stm32wl.kicad_sch
/Hardware/pcb-stm32wl/#auto_saved_files#
*.kicad_sch-bak

# Ignore large LTspice output files
*.raw
*.log
*.plt
*.raw

.metadata
.settings
/firmware/BCIT_BAJA_TELEMETRY/Debug
*.project
*.cproject
*.mxproject
/firmware/TESTING_usbProgramming/Debug
*.png~
History
/Revision01/Hardware/Amplifier/Imports
