[submodule "Revision01/Software/Common/lite3"]
	path = Revision01/Software/Common/lite3
	url = https://github.com/fastserial/lite3.git
[submodule "Revision01/Software/Operator/Lib/libxlsxwriter"]
	path = Revision01/Software/Operator/Lib/libxlsxwriter
	url = https://github.com/jmcnamara/libxlsxwriter.git
[submodule "Revision01/Software/Operator/Lib/zlib"]
	path = Revision01/Software/Operator/Lib/zlib
	url = https://github.com/madler/zlib.git
