*.lck
/Hardware/pcb-stm32wl/pcb-stm32wl_baja-backups
/Hardware/pcb-stm32wl/pcb-stm32wl_bajaSensors-backups
/Hardware/pcb-stm32wl/pcb-stm32wl-backups
fp-info-cache
sym-lib-table
fp-lib-table
#auto_saved_files#
